:root {
  --color-bg: #222222;
  --color-text-main: #DDDDDD;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

body {
  color: var(--color-text-main);
  background-color: var(--color-bg);
  font-family: 'Goudy Old Style', sans-serif;
}

main {
  margin: 0 auto;
  max-width: 800px; /* fallback in case 'ch' unit isn't supported */
  max-width: 80ch;
}

a:visited{
	color: lightblue;
}

.drop-or-paste {
  --drop-target-color: gray;

  border: 2px dashed var(--drop-target-color);
  background-color: color-mix(in srgb, var(--drop-target-color), 90% transparent);
  border-radius: 8px;
  padding: 1rem;
  position: relative;
  transition: background-color 200ms, border-color 200ms;
}

.drop-or-paste:has(.drag-active) {
  --drop-target-color: green;
}

.drop-or-paste p {
  margin-top: 0;
  padding-bottom: 1rem;
}

.drop-or-paste input {
  padding: 3rem 1rem 1rem;
  position: absolute;
  inset: 0;
}
